.community-items{
  margin-top: 10px;
}
.community-item{
  float: left;
  border:1px solid orange;
}
.community-username{
  border: 1px solid red;
  text-align: center;
}

.community-item-image{
  width: 158.8px;
  height: 158.8px;
}
