.errors:before {
  content: "Let me help you with that. "
}

.errors {
  font-size: 16px;
  color: red;
  text-align: center;
}

.error {
  display: inline;
}
.error:after {
  content: ". "
}

.fix-position {
  position: relative;
}
.login-errors {
  font-size: 10px;
  position: absolute;
  left: -114px;
  top: 25px;
}

.login-error{

}
