* {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: inherit;
  font-size: inherit;
  display: block;


}

body {
  font-size: 11px;
  font-family: 'Noto Sans', times;
}

.container {
  width: 965px;
  margin: auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}


form > input {
  border: 1px solid lightgrey;
  border-radius: 2px;

}

form > input:not([type="submit"]):focus {
  outline: none;
  border:1px solid #F4A460;
  box-shadow: 0 0 30px orange;
}

img:hover {
  width: 50px;
  height: 50px;
  transform: rotate(20deg);

}
