#landing-page nav {
  padding: 8px 0 ;
  border-bottom: 2px solid red;
}

#landing-page nav h1 {
  float: left;
  font-size: 40px;
  letter-spacing: .5em;
  text-shadow: 6px 0px 1px orange;

  transform: rotate(.5deg);
}
