#login-form {
  margin-top: 15px;
  float: right;
  font-size: 12px;

}

#login-form * {
  display: inline;
}

#login-form input {
  padding: 5px;
  margin-right: 4px;
  size: 20;
}

#login-form input[type="submit"] {
  margin-left: 3px;
}
