.main-nav {
  padding: 25px 0 7px;
  border-bottom: 2px solid red;
  font-size: 14px;
}
.main-nav ul * {
  display: inline;
  border-radius: 2px;
}

.main-nav ul li:hover {
  outline: none;
  box-shadow: 0px 0px 10px orange;
}

.main-nav ul li:focus {
 background: green;
}

.main-nav h1 {
  float: left;
  margin-top: -9px;
  font-size: 27.5px;
  text-shadow: 0px 0px 2px orange;
}
.main-nav .links {
  float: left;
  margin-left: 18px;
}

.main-nav li{
  padding: 5px 10px;
}

.main-nav .search {
  display: block;
  float: left;
  width: 190px;
  padding: 5px 5px;
  margin: -5px 15px;
}

.buttons {
  float: left;
}

#log-out {
  float: right;
  border: none;
  border-radius: 2px;
  padding: 3px 5px;
  margin-top: -2px;
  color: white;
  background: #382110;
}


#log-out:hover {
  background: #573216;
}

#log-out:focus {
  outline: none;
  box-shadow: 0 0 5px #382110;
}
