.reader-info {
  margin: 15px 0px;
}

.reader-info img {
  float:left;
  width: 200px;
}

.reader-details h1, .reader-details li {
    margin-bottom: 3px;
}

.reader-details h1 {
  font-size: 23px;
}

.reader-details {
  float: left;
  margin-left: 30px;
  width: 450px;
  text-align: justify;
}
