#signup-form {
  float: right;
  margin: 8px 15px;
  font-size: 13px;
}

#signup-form * {
  margin-bottom: 5px;
}

#signup-form header, #signup-form input[type="submit"] {
  font-family: 'Amatic SC';
  letter-spacing: 0.4px;
  font-weight: bold
}

#signup-form header {
  font-size: 32px;
}

#signup-form input{
  padding: 5px;
}

#signup-form input:not([type="submit"]) {
  width: calc(100%);
}

#signup-form input[type="submit"] {
  font-size: 28px;
  padding: 0px 5px;
  margin-top: 6px;
  color: black;
  background: #fcd05f;
  border: none;
}

#signup-form input[type="submit"]:hover {
  background: #FDD893;
}

#signup-form input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 5px #fcd05f;
}

#signup-form form{
  /*float: left;*/
}
