.status-buttons {
  margin-top: 12px;
  width: 185px;
  float: left;
  clear: left;
}

.fix-width {
}

.current-reading-status, .dropdown-button {
  font-size: 14px;
  padding: 7px;
}

.current-reading-status{
  float: left;
  margin-left: 18px;
  width: calc(75%);

  background: #ffeeb0;
}

.current-reading-status:hover{
  background: #fcd87c;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  color: white;
  background: #409D69;
}

.dropdown-button:hover {
  color: white;
  background: #1e7c47;
}


.dropdown-content {
  background: white;
  border: 1px solid lightgrey;
  display: none;
  position: absolute;
  left: -137px;
  min-width: 161px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.status-button {
  background: white;
  color: black;
  padding: 3px;
}

.add-to-shelf {
  padding: 3px;
}

.add-to-shelf-box {
  float:left;
  margin: 3px;
}
.review-button {
  padding: 3px 34px;
  margin: auto;
  background: #fcd05f;
}

.review-button:hover {
  background: #FDD893;
}

.review-button:focus {
  outline: none;
  box-shadow: 0 0 5px #fcd05f;
}
