<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300|Sigmar+One|Libre+Baskerville|Nunito|Bree+Serif|Passion+One|Lobster|Pacifico|Shadows+Into+Light|Amatic+SC:700|Dancing+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
